* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
}
body {
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: #777777;
    background-image:url(../images/dark-honeycomb.png);
    /* Background pattern from Toptal Subtle Patterns */
  }

p {
    line-height: 150%;
}

header {
    width: 100%;
    /* align-content: center; */
    background: #ffffff;
    margin-bottom: 20px;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    background-color: #4aaaa5;
    margin-bottom: 0px;
    padding-top: 10px;
    color: #ffffff;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 22px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 10px;
    color: #4aaaa5;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 22px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.container {
    margin-bottom: 100px;
    border: 2px solid #dddddd;
    background: #ffffff;
}

.navBar {
    justify-content: space-between;
    margin: 0 auto;
}

#bio-image {
    float: left;
    width:200px;
    height:150px;
    margin-right: 20px;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}


.portfolio-wrapper {
    margin-left: 20px;
    margin-bottom: 20px; 
}

.card {
    background: #4aaaa5;
}

.card-img {
    width: 100%;
    height: auto;
}

.portfolio-title {
    text-align: center;
    background: #4aaaa5;
    width: 250px;
    margin-bottom: 5px;
    color: #666666; 
}

#submit-contact-btn{
    background-color: #4aaaa5;
    padding-top: 5px;
    color: #ffffff;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.nav-link {
    color: #666666;
    margin-top: 5px;
}




